.founders{
    .container{
        .founders-block{
            .founders-block__caption{
                margin-bottom: 25px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }
            .founders-block__image{
                max-width: 100%;
            }
        }
    }
}
@media (min-width:800px){
    .container_founders{
        display: flex;
    }
    .founders-block__image{
        padding-left: 10px;
        max-width: 450px !important;
    }
}