.header{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin: 10px 5%;
    .container_header{
        position: relative;
        display: flex;
        justify-content: space-between;
        .header-block{
            justify-content: space-around;
            .header-items{
                display: flex;
                justify-content: space-between;
                position: relative;
                .header-items__logo{
                    display: flex;
                    max-width: 75px;
                }
                .header-items__login{
                    color: #BA9F65;
                    font-size: 15px;
                    padding-right: 10px;
                }
                .header-items__cart{
                    display: block;
                    font-size: 22px;
                    line-height: 15px;
                    color: #757575;
                    padding-right: 10px;
                }
                .hamburger{
                    padding-right: 10px;
                }
                .search{
                    position: absolute;
                    left: 88px;
                    top: 40px;
                    .search__input{
                        display: none;
                    }
                    .fa-solid{
                        width: 40px !important;
                    }
                }
            }   
            .header-list{
                position: absolute;
                justify-content: flex-end;
                max-width: 70%;
                display: none;
                flex-wrap: wrap;
                top: 60px;
                left: 240px;
                .list-item{
                    list-style-type: none;
                    padding-right: 10px;
                    .list-item__link{
                        text-decoration: none;
                        .list-item__caption{
                            color: #333;
                            font-size: 20px;
                            font-weight: 300;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }     
        }
    }
}

@media (min-width:800px){
    .header{
        .container_header{
            .header-block{
                .header-items{
                    .hamburger{
                        display: none;
                    }
                    .search{
                        position: absolute;
                        left: -230px;
                        top: 0px;
                        .search__input{
                            padding-right: 25px;
                            display: flex;
                            margin-right: 5px;
                        }
                        .fa-solid{
                            width: 250px;
                            top: 5px;
                            position: absolute;
                            color: #4b4b4b;
                            left: 185px;
                        }
                    }
                } 
                .header-list{
                    display: flex;
                }
            }
        }
    }
}

@media (min-width:1200px){
    .header-list{
        position: absolute;
        left: 300px;
    }
    .list-item{
        padding-right: 35px;
    }
}