@import "variables";
.joinUs{
    .container, .container_joinUs{
        .container_joinUs__title{
            text-align: center;
            font-size: 26px;
            font-family: $title-font-family;
            font-weight: $main-font-weight;
        }
        .joinUs-block{
            .joinUs-block__image{
                vertical-align: middle;
                max-width: 48%;
                padding: 3px;
            }
        }
    }
}
@media (min-width:800px) {
    .joinUs-block__image{
        max-width: 24% !important;
    }
}