// mixin-ы это набор свойст для чего-либо, для использования написать @import "mixins"
// @mixin name{

// }

@mixin button{
    text-align: center;
    width: 200px;
    font-size: 16px;
    padding: 5px;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-style: solid;
    border-color: #02010100;
    background-color: #ba9f65;
}