// mixin-ы это набор свойст для чего-либо, для использования написать @import "mixins"
// @mixin name{

// }
// @include name; для применения 
@mixin button{
    max-width: 90%;
    text-align: center;
    font-size: 16px;
    padding: 8px 24px;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #ba9f65;
    color: #fff;
    transition: all .3s;
    &:hover{
        background: #000;
    }
}