@import "mixins";
.slider::before{
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    width: 95%;
    height: 500px;
    position: absolute;
    top: 251px;
    left: 22px;
    z-index: 10;
}
.slider{
    .container, .container_slider{
        position: relative;
        max-width: 95%;
        max-height: 450px;
        .carousel-caption{
            z-index: 20;
        }
        .slider__button{
            @include button;
        }
    }
}