@import "mixins";
.slider{
    position: relative;
    &::before{
        content: "";
        z-index: 10;
        background-color: #0000004d;
        width: 93%;
        height: 100%;
        position: absolute;
        top: 18px;
        left: 43px;
    }
    .container, .container_slider{
        position: relative;
        max-width: 95%;
        max-height: 450px;
        .carousel-caption{
            z-index: 20;
        }
        .slider__button{
            @include button;
        }
    }
}
.carousel-item{
    .w100{
        height:449px
    }    
}