@import "mixins";
.slider{
    position: relative;
    &::before{
        content: "";
        z-index: 10;
        background-color: #0000004d;
        width: 92%;
        height: 98%;
        position: absolute;
        top: 18px;
        left: 33px;
    }
    .container, .container_slider{
        position: relative;
        max-width: 95%;
        max-height: 450px;
        .carousel-caption{
            z-index: 20;
        }
        .slider__button{
            @include button;
        }
    }
}