// тут общие переменные, для подключения в scss файле вначале написать @import "variables"
// пример: $main-width:100%
$main-color: #ba9f65;
$title-font-size: 40px;
$button-font-size: 20px;
$button-font-family: 'Roboto', sans-serif;