// тут общие переменные, для подключения в scss файле вначале написать @import "variables"
// пример: $main-width:100%
$main-color: 2;
$main-font-weight: 400;
$title-font-size: 40px;
$title-font-family:'Oswald', sans-serif;
$button-font-size: 20px;
$button-font-family: 'Roboto', sans-serif;
$button-font-weight: 300;